body{

    font-family: 'Poppins', sans-serif;
    margin: 70px;
    background-color: darkgray;

}
p{
    font-size: 20px;
    font-weight: 400;
    
}

.margin-left{

    border-left: 5px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    font-size: 2em;
    padding-left: 10px;
}
.link-button-st{

margin-top: 40px;
margin-bottom: 50px;

}

.link-button{

    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    padding: 15px 40px;
    border-radius:5px;
    font-weight: 700;
    font-size: 20px;
    box-shadow: inset 0 #00ccff;
    transition: ease-out 0.3s;
    outline: none;
   
    margin-top: 2em;
    display: inline-block;
    color: white;
}
a:hover {
box-shadow: inset 400px 0 #00ccff ;   
cursor: pointer; 
color: black;
}

.flexible-container{

    display: flex;
}
.width-half{

    width: 50%;
    margin: 10px 10px;
}
.mission-color{

    color: lime;
    
}
#mission-22{


    text-align: center;
    font-size: 50px;
}
.flexible-container-2{

display: flex;

margin: 10px 10px;
}
.mission-bg{

    background-color: antiquewhite;
    border-radius: 10px;
    padding: 15px;
}
.vission-bg{


    background-color: rgba(0, 255, 255, 0.582);
    border-radius: 10px;
    padding: 15px;
    margin-left: 20px;
    margin-right: 20px;

}
.goals-bg{

background-color: rgb(228, 201, 95);
border-radius: 10px;
padding: 15px;

}
.without-limits{
   

display: flex;
margin-top: 100px;

}
.develop-half{

    margin-left: 50px;
    width: 60%;
}
.develop{

    font-size: 40px;
}